<p>new-component works!</p>

<!-- <ul>
    <li *ngFor="let student of students">{{student.name}}</li>
</ul>

{{title}}
<button (click)="onButtonClick()">Change Title</button>
<br>
<select name="" id="">
    <option *ngFor="let s of students">{{s.name}}</option>
</select> -->

<!-- {{price|currency:"Rs"}} -->

<!-- {{today|date:"MM-dd-yyyy [hh:mm:ss]"}} -->

<!-- {{students|json}} -->

<!-- {{"Maharishi International University"|uppercase}} -->

{{123.456789|number:"5.1-4"}}  <br>
{{123|number:"1.1-5"}}  <br>